*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

body{
    @include flexSetupColumn;

    background-image: url(../img/background-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: relative;

    cursor: default;
}

@media (max-width: 480px){
    header{
        padding: 0px;
    } 
}